# ==============================================================================
# 1. ROTEAMENTO GLOBAL E SEGURANÇA (TRAEFIK)
# ==============================================================================
# Domínio base para todas as aplicações (ex: capela.com.br)
DOMAIN=seudominio.com.br
# Email válido obrigatório para a emissão dos certificados SSL Let's Encrypt
ADMIN_EMAIL=admin@seudominio.com.br

# Credenciais de acesso ao Dashboard do Traefik.
# O formato exige criptografia MD5, SHA1 ou BCrypt.
# Comando para gerar a hash no terminal Linux: echo $(htpasswd -nB seu_usuario) | sed -e s/\\$/\\$\\$/g
TRAEFIK_AUTH=admin:$$apr1$$H6uskkkW$$IgXLP6ewTrSuBkTrqE8wj/

# ==============================================================================
# 2. CREDENCIAIS CORE (MOTORES DE INFRAESTRUTURA)
# ==============================================================================
POSTGRES_ROOT_PASS=H4PjodG2ZpXU1P4R
REDIS_PASS=Ug3Hu1daeTkjBsAe
MINIO_ROOT_USER=admin
MINIO_ROOT_PASS=R8sYMcfnSnLtRj4n

# ==============================================================================
# 3. SENHAS DE ISOLAMENTO (BANCOS DE DADOS APLICAÇÕES)
# ==============================================================================
# Estas variáveis alimentam o script 'init-databases.sh' no primeiro boot
DB_PASS_EVOLUTION=KXPdA4KdgtsfUcyb
DB_PASS_CHATWOOT=LZo1LH9fKaaUh28y
DB_PASS_TYPEBOT=WJnz5PEoEDZ9NftY
DB_PASS_N8N=gSmsHECspemtgpZ9

# ==============================================================================
# 4. PARÂMETROS EXCLUSIVOS DO N8N (HERDADOS DA ÂNCORA)
# ==============================================================================
POSTGRES_DB=n8n_db
POSTGRES_NON_ROOT_USER=n8n_user
# Esta variável alimenta a string de conexão do contêiner do n8n.
# DEVE ser estritamente igual à DB_PASS_N8N definida acima.
POSTGRES_NON_ROOT_PASSWORD=gSmsHECspemtgpZ9

# Chaves de segurança internas do motor de orquestração
ENCRYPTION_KEY=UXGLHXFVsh4mB1Qq
RUNNERS_AUTH_TOKEN=Q5cbdbkuUWxquFN2